.horizontal-line {
    width: 80%;
    text-align: center;
    color: #BABABA;
    position: relative;
    margin: 0.19rem 0 1.563rem 0;
}

.horizontal-line::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 45%;
    right: 0;
    top: 50%;
    background-color: #F5F5F5;
}

.horizontal-line::before {
    content: '';
    position: absolute;
    height: 3px;
    width: 45%;
    left: 0;
    top: 50%;
    background-color: #F5F5F5;
}

@media screen and (max-width:992px) {
    .horizontal-line {
        width: 100%;
    }
}